@font-face {
  font-family: Product Sans;
  src: url(/fonts/ProductSansRegular.ttf);
}
@font-face {
  font-family: Product Sans B;
  src: url(/fonts/ProductSansBold.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Product Sans;
}

#main {
  width: 100%;
  height: 100vh;
  background-color: red;
}

nav {
  position: fixed;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
}

nav a,
i {
  font-size: 1vw;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.cntr-nav {
  display: flex;
  gap: 3vw;
}

nav i {
  font-size: 1.5vw;
}

/* nav end */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    150deg,
    rgba(255, 217, 0, 0.842),
    rgb(255, 60, 0)
  );
}

#fanta {
  position: absolute;
  width: 40%;
  z-index: 2;
}

#orange-cut {
  position: absolute;
  top: 10%;
  left: 32%;
  width: 15%;
  z-index: 1;
}

#orange {
  position: absolute;
  top: 55%;
  right: 30%;
  z-index: 3;
  width: 20%;
}

#leaf {
  position: absolute;
  width: 18%;
  top: 10%;
  left: 0%;
  transform: rotate(60deg);
}
#leaf2 {
  position: absolute;
  width: 10%;
  top: 70%;
  left: 80%;
  transform: rotate(-90deg);
}
#leaf3 {
  position: absolute;
  top: 10%;
  right: 0;
  width: 20%;
}

.hero h1 {
  font-size: 25vw;
  font-family: Product Sans B;
  color: #fff;
}

/* hero end */

.two {
  width: 100%;
  height: 100vh;
  background-color: #f8e7d1;
}
